@font-face {
  font-family: entypo;
  src: url(fonts/entypo.eot);
  src: url(fonts/entypo.eot?) format("embedded-opentype"),
  url(fonts/entypo.woff) format("woff"),
  url(fonts/entypo.ttf) format("truetype"),
  url(fonts/entypo.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: entypo-social;
  src: url(fonts/entypo-social.eot);
  src: url(fonts/entypo-social.eot?) format("embedded-opentype"),
  url(fonts/entypo-social.woff) format("woff"),
  url(fonts/entypo-social.ttf) format("truetype"),
  url(fonts/entypo-social.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}

.icon-mail,
.icon-rss,
.icon-book,
.icon-movie,
.icon-github,
.icon-lastfm,
.icon-twitter {
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-mail,
.icon-rss,
.icon-book,
.icon-movie {
  font-family: entypo;
}

.icon-mail:before {
  content: "\2709";
}

.icon-rss:before {
  content: "\E73A";
}

.icon-book:before {
  content: "\1F4D5";
}

.icon-movie:before {
  content: "\1F3AC";
}

.icon-github,
.icon-lastfm,
.icon-twitter {
  font-family: entypo-social;
}

.icon-github:before {
  content: "\F300";
}

.icon-lastfm:before {
  content: "\F321";
}

.icon-twitter:before {
  content: "\F309";
}
