body {
  font-family: -apple-system, 'Lato', serif;
}

.container {
  max-width: 32rem;
  margin: 0;
}

p {
  font-size: 1.3rem;
}

a {
  color: #005eb0;
}

@media (max-width: 52em) {
  .sm-px2 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm-ml2 {
    margin-left: 1rem;
  }
}
