body {
  background-color: #2a2c2e;
  color: #FFFFFF;
  font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif;
}

#content {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 0;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  margin: 30px auto;
  line-height: 25px;
  width: 600px;
  max-width: 90%;
}

a {
  color: #00aeef;
}

a.icons {
  padding: 10px;
  font-size: 50px;
  text-decoration: none;
  opacity: 0.5;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

a.icons:hover {
  opacity: 1;
}

.twitter:hover {
  color: #55ACEE;
}

.feed:hover {
  color: #f26522;
}

.github:hover {
  color: #999;
}

.tumblr:hover {
  color: #35465c;
}

.ears:hover {
  color: #c3000d;
}

#jam a {
  color: #325897;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 701px) and (max-width: 939px) {
  #content {
    width: 700px
  }
}

@media only screen and (max-width: 700px) {
  #content {
    width: 500px
  }
}

@media only screen and (max-width: 500px) {
  #content {
    padding: 20px 0;
    width: 300px
  }
}
