---
layout: default
---

<p class='f3 mt0'><a class='no-underline js-random-url' href='#' target='_blank'>👋🏾</a> Hey!</p>
<p class='f3 lh-title'>
  I’m Aliou Diallo, a developer based in Paris.
  I currently work at
  <a class='fw5 black' href='https://snapshift.co/' target='_blank'
    aria-label="Snapshift's website">Snapshift</a>.
</p>
<p class='f3 lh-title'>
  You can contact me by email at the current year @ this domain name.
</p>
