body {
  background-color: #2a2c2e;
  color: #FFFFFF;
  font-family: 'Open Sans', Avenir, sans-serif;
  text-align: center;
}

#content {
  margin-top: 10%;
}

h1, h2 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

h1 {
  padding-bottom: 15px;
}

h2 {
  font-size: 14pt;
  opacity: 0.8;
  padding-bottom: 25px;
}

h2 a {
  color: #00aeef;
  text-decoration: none;
}

h2 a:hover {
  text-decoration: underline;
}

/* #nav ul { */
/*   padding: 0; */
/* } */
/*  */
/* #nav li { */
/*   list-style: none; */
/* } */
/*  */
/* #nav a { */
/*   display: block; */
/*   color: #00aeef; */
/*   text-decoration: none; */
/* } */
