---
layout: page
title: Aliou Diallo &middot; Currently
---

{% assign data = site.data.currently %}

<p class='f3 mt0'>Currently</p>

{% if data.music != empty %}
  <p class='f4'>Listening</p>
  <ul>
    {% for album in site.data.currently.music %}
      <li class='mt2'>
        <em>
          <a href='{{ album.url }}' target='_blank' class='black underline'>{{ album.name }}</a>
        </em> by <strong>{{ album.artist }}</strong>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if data.books != empty %}
  <p class='f4'>Reading</p>
  <ul>
    {% for book in site.data.currently.books %}
      <li class='mt2'>
        <em>
          <a href='{{ book.url }}' target='_blank' class='black underline'>{{ book.name }}</a>
        </em> by <strong>{{ book.author }}</strong>
      </li>
    {% endfor %}
  </ul>
{% endif %}

{% if data.learning != empty %}
  <p class='f4'>Learning</p>
  <ul>
    {% for topic in site.data.currently.learning %}
      <li class='mt2'>{{ topic }}</li>
    {% endfor %}
  </ul>
{% endif %}
