<nav class='pb3 pb4-ns'>
  <a class='link dim mid-gray f6 f5-ns dib mr3' href='/'>Home</a>
  <a class='link dim mid-gray f6 f5-ns dib mr3' href='/about/'>About</a>
  <a class='link dim mid-gray f6 f5-ns dib mr3' href='/currently/'>Currently</a>
  <!-- <a class='link dim mid-gray f6 f5&#45;ns dib mr3' href='https://blog.aliou.me' target='_blank'>Blog</a> -->
  <a class='link dim mid-gray f6 f5-ns dib mr3' href='https://github.com/aliou' target='_blank'>GitHub</a>
  <!-- <a class='link dim mid-gray f6 f5&#45;ns dib mr3' href='/projects/'>Projects</a> -->
</nav>
