<header>
  <h1 class="header-title">
    <a class='header-link not-underlined' href="/">Aliou Diallo</a>
  </h1>
  <nav class="header-nav">
    <a class='not-underlined header-link' href="/posts">Posts</a>
    <a class='not-underlined header-link' href="https://twitter.com/aliouftw" target='_blank'>Twitter</a>
    <a class='not-underlined header-link' href="https://github.com/aliou" target='_blank'>GitHub</a>
    <!-- <a class='not-underlined header-link' href="/talks">Talks</a> -->
    <!-- <a class='not-underlined header-link' href="/projects">Projects</a> -->
  </nav>
</header>
