<nav class='pb3 pb4-ns'>
  <a class='link dim mid-gray f5 f4-ns dib mr3' href='/'>About</a>
  <a class='link dim mid-gray f5 f4-ns dib mr3' href='/posts'>Posts</a>
  <a class='link dim mid-gray f5 f4-ns dib mr3' href='https://github.com/aliou' target='_blank'>GitHub</a>
</nav>
