{% if page.title %}
  <title>{{ page.title }} &mdash; {{ site.name }}</title>
  <meta name='og:title' content="{{ page.title }} - {{ site.name }}" />
{% else %}
  <title>{{ site.name }}</title>
  <meta name='og:title' content='{{ site.name }}' />
{% endif %}

<meta name='twitter:site' content='{{ site.twitter }}' />
<meta name='twitter:title' content='{{ site.name }}' />

{% if page.title %}
  <meta name='twitter:title' content="{{ page.title }} &mdash; {{ site.name }}" />
{% else %}
  <meta name='twitter:title' content="{{ site.name }}" />
{% endif %}

{% if page.description %}
  <meta name='description' content="{{ page.description | xml_escape }}" />
  <meta name='og:description' content="{{ page.description | xml_escape }}" />
  <meta name='twitter:description' content="{{ page.description | xml_escape }}" />
{% else %}
  <meta name='description' content="{{ site.description | xml_escape }}" />
  <meta name='og:description' content="{{ site.description | xml_escape }}" />
  <meta name='twitter:description' content="{{ site.description | xml_escape }}" />
{% endif %}

{% if page.image %}
  <meta property="twitter:card" content="summary_large_image">
  <meta property='twitter:image' content='{{ page.image }}' />
  <meta property="og:image" content='{{ page.image }}' />
{% else %}
  <meta property="twitter:card" content="summary_large_image">
{% endif %}
