<meta name='twitter:card' content='summary' />
<meta name='twitter:site' content='{{ site.twitter }}' />
<meta name='twitter:title' content='{{ site.name }}' />

{% if page.title %}
  <meta name='twitter:title' content='{{ page.title }} &mdash; {{ site.name }}' />
{% else %}
  <meta name='twitter:title' content='{{ site.name }}' />
{% endif %}

{% if page.description %}
  <meta name='twitter:description' content='{{ page.description }}' />
{% else %}
  <meta name='twitter:description' content='{{ site.description }}' />
{% endif %}
