//= require tachyons
//= require syntax

img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

pre {
  overflow: scroll;
}

.highlight {
  padding: 0.5em;
  margin: 0;
  background: #f0f0f0;
  border-radius: 2px;
  font-size: .875rem;
}

.footnotes {
  margin: 1em 0;
  border-top: 1.5px solid #ddd;
}
