//= require tachyons
//= require syntax

.inter {
  font-family: 'Inter', system-ui;
}

img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

pre {
  overflow: scroll;
}

.highlight {
  padding: 0.5em;
  margin: 0;
  background: #f0f0f0;
  border-radius: 2px;
  font-size: .875rem;
}

.footnotes {
  margin: 1em 0;
  border-top: 1.5px solid #ddd;
}

article p code, a code, h3 code, ul > li > code {
  background-color: #f0f0f0;
  padding: .125em .25em;
  font-size: 0.80em;
}

hr {
  position: relative;
  margin: 1.5rem 3rem;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
