//= require tachyons
//= require syntax

.highlight {
  padding: 0.5em;
  margin: 0;
}

img {
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
}

pre {
  overflow: scroll;
}
