//= require normalize

// pretty stuff
body {
  font-family: "SF Mono", Monaco, monospace;
  line-height: 1.5;
  font-size: 1rem;
}

.bg-silver {
  background-color: #F6F6F6;
}

.navy {
  color: #212121;
}

a {
  color: #005eb0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bold {
  font-weight: 700;
}

h1, .h1 { font-size: 2rem }
h2, .h2 { font-size: 1.5rem }
h3, .h3 { font-size: 1.25rem }
h4, .h4 { font-size: 1rem }
h5, .h5 { font-size: .875rem }
h6, .h6 { font-size: .75rem }

// layout stuff
.container {
  max-width: 32rem;
  margin: 0;
}

.px {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 52em) {
  .px {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.mb3 {
  margin-bottom: 3rem;
}

// animation stuff

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
