//= require normalize

// pretty stuff
body {
  font-family: -apple-system, 'Lato', serif;
  line-height: 1.5;
  font-size: 1.3rem;
}

.bg-silver {
  background-color: #F6F6F6;
}

.navy {
  color: #212121;
}

a {
  color: #005eb0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// layout stuff
.container {
  max-width: 32rem;
  margin: 0;
}

.px {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 52em) {
  .px {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

// animation stuff

.animated {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
