<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="{{ site.google.verification }}" />
    <meta name='author' content='{{ site.name }}' />
    <meta name='description' content='{{ site.description }}' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    {% stylesheet tachyons %}

    {% include twitter.html %}
  </head>
  <body class='sans-serif black bg-white'>
    <div class='mh5 mv6 w-33'>
      {{ content }}
    </div>
  </body>

  {% include analytics.html %}
</html>
